!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>producr</title>
    <img src="lab4\public\images\GETTY-labrador-puppy-1120.jpg">
    
</head>
<body>
    <form action="add" method="POST">
        product:<input type="text" name="product"><br><br>
        price:<input type="number" name="price" min="10"><br><br>
        descrption:<textarea type="text" ></textarea><br>
        <input type="submit"value="submit">
    </form>
</body>
</html>